@font-face {
    font-family: "Manrope3";
    src: url("manrope-regular.eot"); /* IE9 */
    src: url("manrope-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("manrope-regular.woff") format("woff"), /* chrome, firefox */
    url("manrope-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("manrope-regular.svg#Manrope3") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


